<?xml version='1.0' encoding='utf-8'?>
<plugin id="io-github-krynyx-cordova-admob-plugin" version="0.0.1" 
	xmlns="http://apache.org/cordova/ns/plugins/1.0" 
	xmlns:android="http://schemas.android.com/apk/res/android">
    <name>KrynyxAdmob</name>
    <description>Plugin to show ads on cordova apps</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device,admob,krynyx,plugin,ads,android</keywords>

    <js-module name="KrynyxAdmob" src="www/KrynyxAdmob.js">
        <clobbers target="KrynyxAdmob" />
    </js-module>
    
    <framework src="src/android/plugin.gradle" custom="true" type="gradleReference"/>
    
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="KrynyxAdmob">
                <param name="android-package" value="io.github.krynyx.cordova.admob.plugin.KrynyxAdmob"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		</config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7430707781440027~4051472482"/>
		</config-file>
        
		<config-file file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
			<application android:usesCleartextTraffic="true" />
		</config-file>

        <source-file src="src/android/KrynyxAdmob.java" target-dir="src/io/github/krynyx/cordova/admob/plugin/" />
    </platform>
</plugin>
